<%
page.banner_img = page.banner_img || theme.post.banner_img
page.banner_img_height = page.banner_img_height || theme.post.banner_img_height
page.banner_mask_alpha = page.banner_mask_alpha || theme.post.banner_mask_alpha
%>

<div class="container-fluid nopadding-x">
  <div class="row nomargin-x">
    <div class="side-col d-none d-lg-block col-lg-2">
      <%- inject_point('postLeft') %>
    </div>

    <div class="col-lg-8 nopadding-x-md">
      <div class="container nopadding-x-md" id="board-ctn">
        <div id="board">
          <article class="post-content mx-auto">
            <h1 id="seo-header"><%= page.subtitle || page.title %></h1>
            <% if (theme.post.updated.enable && theme.post.updated && compare_date(page.date, page.updated)) { %>
              <p class="note note-<%= theme.post.updated.note_class || 'info' %>">
                <% if (theme.post.updated.relative) { %>
                  <% if (theme.post.updated.content) { %>
                    <!-- compatible with older versions-->
                    <%- theme.post.updated.content %><%- relative_date(page.updated, theme.post.updated.date_format) %>
                  <% } else { %>
                    <%- __('post.updated', relative_date(page.updated, theme.post.updated.date_format)) %>
                  <% } %>
                <% } else { %>
                  <% if (theme.post.updated.content) { %>
                    <!-- compatible with older versions-->
                    <%- theme.post.updated.content %><%- date(page.updated, theme.post.updated.date_format) %>
                  <% } else { %>
                    <%- __('post.updated', date(page.updated, theme.post.updated.date_format)) %>
                  <% } %>
                <% } %>
              </p>
            <% } %>
            <% if (page.encrypt === true) { %>
              <%- inject_point('postMarkdownBegin') %>
              <%- page.content %>
              <%- partial('_partials/plugins/encrypt') %>
              <%- inject_point('postMarkdownEnd') %>
            <% } else { %>
              <div class="markdown-body">
                <%- inject_point('postMarkdownBegin') %>
                <%- page.content %>
                <%- inject_point('postMarkdownEnd') %>
              </div>
            <% } %>
            <hr/>
            <div>
              <%- inject_point('postMetaBottom') %>

              <%- inject_point('postCopyright') %>

              <% if (theme.post.prev_next.enable && !page.hide) { %>
                <div class="post-prevnext my-3">
                  <article class="post-prev col-6">
                    <% const prev = prev_post(page) %>
                    <% if (prev) { %>
                      <a href="<%= url_for(prev.path) %>" title="<%= prev.title %>">
                        <i class="iconfont icon-arrowleft"></i>
                        <span class="hidden-mobile"><%= prev.title %></span>
                        <span class="visible-mobile"><%- __('post.prev_post') %></span>
                      </a>
                    <% } %>
                  </article>
                  <article class="post-next col-6">
                    <% const next = next_post(page) %>
                    <% if (next) { %>
                      <a href="<%= url_for(next.path) %>" title="<%= next.title %>">
                        <span class="hidden-mobile"><%= next.title %></span>
                        <span class="visible-mobile"><%- __('post.next_post') %></span>
                        <i class="iconfont icon-arrowright"></i>
                      </a>
                    <% } %>
                  </article>
                </div>
              <% } %>
            </div>
<hr>
            <%- inject_point('postComments') %>
            <hr>
              <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
<style type="text/css">
     #mc_embed_signup{ clear:left; font:10px;  align-items:center; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div class="ssty">
<div id="mc_embed_signup">
  <form action="https://ideagnose.us12.list-manage.com/subscribe/post?u=463c6029de93ae83594496f4e&amp;id=c852f2020c&amp;f_id=001eb9e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h3 style=font-weight:lighter;>To receive my newly published articles, please share your E-mail here (The only thing sent to your E-mail will be the link to blog posts, the date, and the title):</h3>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL" style=font-weight:bold;>Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_463c6029de93ae83594496f4e_c852f2020c" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/h9K0LX" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
          </article>
        </div>
      </div>
    </div>

    <div class="side-col d-none d-lg-block col-lg-2">
      <%- inject_point('postRight') %>
    </div>
    
  </div>
</div>

<%- partial('_partials/markdown-plugins') %>

<% if(theme.post.custom && theme.post.custom.enable && theme.post.custom.content && page.custom !== false) { %>
  <!-- Custom -->
  <div class="col-lg-7 mx-auto nopadding-x-md">
    <div class="container custom post-custom mx-auto">
      <%- page.custom || theme.post.custom.content %>
    </div>
  </div>
<% } %>
